<%- include('header'); -%>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/pregled">MOJE NARUDZBINE</a></li>
        <li><a href="/logout">IZLOGUJ SE</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container bg-light text-dark">
  <div class="col-lg-4 col-xs-12">
      <h1 class="cover-heading" style="padding-top: 30px;">Rezerviši vozilo:</h1>
      <form action="/porucivanje" method="POST">
        <div class="form-group">
          <label for="exampleInput">Unesite lokaciju:</label>
          <input type="textarea" class="form-control" required name="lokacija">
        </div>
        <div class="form-group">
          <label for="exampleInput">Opis prevoza:</label>
          <input type="textarea" class="form-control" required name="opis">
        </div>
        <div class="form-group">
          <label for="exampleInput">Unesite dužinu:</label>
          <input type="textarea" class="form-control" placeholder="Dužina u km:" required name="duzina">
        </div>
        <div class="form-group">
            <label for="exampleInput">Odaberite vozilo:</label>
            <select class="form-control" name="vozilo" required>
                <%vans.forEach(function(van) {%>
                    <option><%=van.TipVozila%></option>
                <%});
                %>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Rezerviši</button>
      </form>
  </div>
</div>
<script>

</script>
